* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

/* .home,
.placements,
.programs,
.campuslife,
.student-login-btn {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
} */

/* .placements {
  background-image: url('./images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} */

.programs {
  background-image: url("./images/img-1.jpg");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

/* .student-login-btn {
  background-image: url('./images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} */

.sisNav {
  height: 7vh;
  background-color: white;
  width: 100%;
  display: flex;

  gap: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1px;
  background-color: grey;
  color: white;
  max-height: 83vh;
  width: 13vw;
  transition: ease-in;
  margin: 0;
}

.menu > div {
  border: 1px solid black;
  height: 5vh;
}

.menu > div:hover {
  cursor: pointer;
}

.menuDiv {
  display: flex;
  flex-direction: column;
}
.menuButton {
  background-color: whitesmoke;
  color: black;
  min-width: 4vw;
  min-height: 7vh;
  border: 1px solid black;
}

.fa-bars {
  background-color: black;
}

.sisContainer {
  /*   background-image: url('C:\Users\B.KRISHNA MANOHAR\total-website-react\src\images\SisBg.jpg'); */
  background-size: contain;
  min-height: 87vh;
  min-width: 86vw;
}

.campuslife {
  /* background-image: url('./images/img-4.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.form-container {
  background-image: url("../src/images/loginBg.png");
  border-radius: 2px;
}
.form-box-container {
  width: 40rem;
  margin-left: 45rem;
}
.input-box {
  background-color: #fff;
  text-align: center;
  margin-top: 4vh;
  margin-left: 10vh;
  padding: 2rem;
  border: 20px;
  border-color: black;
}
.input-field {
  height: 2rem;
}
.logoimg {
  width: 300px;
  height: 70px;
}
.input-field {
  display: inline-block;
  width: 20rem;
  height: 5rem;
}
.alert {
  color: red;
  display: block;
  margin-top: -1rem;
}
#success {
  color: green;
}
.placements-mtr {
  width: 40vw;
  margin-left: 10rem;
  line-height: 2rem;
}

.IBS-red-hdng {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: red;
}

.placements-mtr > a {
  color: red;
}
.placementsImg {
  display: inline;
  margin-left: 50rem;
}
.placementsImg > img {
  margin-top: -60rem;
}

.campus-Imgs {
  width: 100vw;
}

.felicitation-img {
  max-width: 1500px;
}

.campus-Imgs > img {
  max-width: 1364px;
}

.componentRender {
  margin-left: 13vw;
  min-height: 83vh;
  /* width: 86.97vw; */
  width: 86vw;
  /* background-color: white; */
}

.attGrid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.7fr 1fr;

  padding: 10px;
}
.attGridItem {
  display: inline-grid;
  background-color: rgba(255, 255, 255, 0.8);
  border: 0.7px solid rgba(0, 0, 0, 0.8);
  padding: 4px;
  font-size: 20px;
  text-align: center;
}

.gradGrid {
  display: grid;
  margin-left: 17vw;
  grid-template-columns: 40vw 17vw;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  padding: 10px;
}

.gradGridItems {
  display: inline-grid;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 4px;
  font-size: 20px;
  text-align: center;
}

legend {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  border: 3px solid green;
  background-color: tomato;
  color: white;
}

.doc {
  padding-left: 10vw;
  width: 70vw;
}

fieldset {
  min-height: 14vh;
  padding-top: 2vh;
}

.Club {
  display: flex;
  height: 80vh;
  width: 99vw;
  margin: 0;
  padding: 0;
}

.left {
  width: 49.9vw;
  height: 80vh;
  padding: 10px;
}

.left > img {
  height: 20vh;
  width: 20vh;
  margin: 10px;
  border-radius: 10%;
  box-shadow: 0px 3px 30px 2px;
  transition: transform 0.47s;
}

.left > img:hover {
  transform: scale(1.1);
}

.right {
  width: 49.9vw;
  height: 80vh;
  border: 1px dotted black;
  padding: 30px;
  border-radius: 10%;
}

.asana {
  display: flex;
  padding: 17px;
}

.asana > img {
  height: 17vh;
  width: 17vh;
  border: 1px solid grey;
  border-radius: 10%;
}

.asana > h1 {
  width: 30vw;
}

.asanadesc {
  display: flex;
  flex-direction: column;
}

.asanadesc > p {
  font-size: larger;
  font-weight: lighter;
}
.asanadesc > span {
  font-weight: bold;
}

.cdesc {
  font-weight: lighter;
}

.complaintform {
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  height: 74vh;
  width: 49vw;
  align-items: flex-start;
  gap: 4vh;
  margin-left: 14svw;

  background-color: whitesmoke;
  padding: 3vh;
  font-size: 27px;
}

.complaintform > label > input {
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 20vw;
  font-size: 17px;
}

.complaintform > textarea {
  background-color: transparent;
  font-size: 18px;
  padding: 10px;
}

.complaintform > button {
  width: 7vw;
  height: 4vh;
  font-size: 17px;
}
